
<h1> Welcome to the game <h1>

<h1> Lets play a game of bowling </h1>


<table style="width:100%">
  <tr>
    <th>Row 1</th>
    <th>Row 2</th>
    <th>Row 3</th>
    <th>Row 4</th>
    <th>Row 5</th>
    <th>Row 6</th>
    <th>Row 7</th>
    <th>Row 8</th>
    <th>Row 9</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<li><%=link_to "Back to profile", root_path %> </li>
